<!-- <p>{{me.name | uppercase}}</p>
<p>{{me.networthy | currency:'USD' }}</p>
<p>{{me.dob| date:'fullDate' | uppercase}}</p>
<p>{{me.rating| number:'1.1-2' }}</p>
<p>{{me.covered | percent}}</p> -->

<!-- <p>Angular says {{prom |async}}</p> -->
<button (click)="addTrainee()">Add Student</button>
<!-- <p>{{text |summary:6}}</p> -->
<input type="text" class="search" placeholder="Search .." [(ngModel)]="searchstring">
<div class="header">
    <p> Trainee Name</p>
    <p> Trainee Age</p>
</div>
<div class ='content' *ngFor="let trainee of trainees | search:searchstring  | sort">
    <p>{{trainee.name}}</p>
    <p> {{trainee.age}}</p>
</div>